@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
:root {
  --font-body: "Poppins", "sans-serif";

  --color-primary: #00e8f7;
  --color-primary-variant: rgb(0, 232, 247, 0.5);
  --color-secondary: #008da9;
  --color-secondary-variant: rgba(rgb(0, 141, 169, 0.5));

  --color-white: #fcfcfc;
  --color-black: #030303;

  --grey-100: #f1f1f1;
  --grey-200: #d4d4d4;
  --grey-300: #b8b8b8;
  --grey-400: #9c9c9c;
  --grey-500: #808080;
  --grey-600: #636363;
  --grey-700: #474747;
  --grey-800: #2a2a2a;
  --grey-900: #0e0e0e;

  --transition: 0.1s ease;

  --transition-300: 0.3s ease;

  --nav-height: 80px;
}
body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  margin: 1rem 0;
}

h1 {
  font-size: 4rem;
  line-height: 70px;
}

h2 {
  font-size: 3.5rem;
  line-height: 62px;
}

h3 {
  font-size: 3rem;
  line-height: 50px;
}

h4 {
  font-size: 2rem;
  line-height: 42px;
}

h5 {
  font-size: 1.5rem;
  line-height: 35px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
    line-height: 70px;
  }

  h2 {
    font-size: 2.6rem;
    line-height: 62px;
  }

  h3 {
    font-size: 2rem;
    line-height: 50px;
  }

  h4 {
    font-size: 1.6rem;
    line-height: 42px;
  }

  h5 {
    font-size: 1.2rem;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
    line-height: 50px;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 42px;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 35px;
  }

  h4 {
    font-size: 1.3rem;
    line-height: 35px;
  }

  h5 {
    font-size: 1.1rem;
    line-height: 35px;
  }
}
